@model OracleTest10.Models.MAIN

@{
    ViewBag.Title = "Snapshot";
}

<h2>Snapshot</h2>

<div>
    <h4>MAIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RECPT_STREET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECPT_STREET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECPT_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECPT_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISSUE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISSUE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNTR_ACCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNTR_ACCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTNER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTNER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIADROMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIADROMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SELIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SELIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIP_CODE_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIP_CODE_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNT_INVC_ZC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNT_INVC_ZC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JULIAN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JULIAN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINE_NBR_AMF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINE_NBR_AMF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILLER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILLER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POD2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POD2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCON_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCON_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHK_DIG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHK_DIG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHK_DIG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHK_DIG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GREG_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GREG_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACK_NBR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACK_NBR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACK_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACK_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELIV_STREET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELIV_STREET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELIV_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELIV_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_TYPE1.DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_TYPE1.DESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIP_CODE.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIP_CODE.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNIC1.DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNIC1.DESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFICE1.DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFICE1.DESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIP_CODE1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIP_CODE1.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNDEL_CAUSE.DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNDEL_CAUSE.DESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNDEL_TYPE.DESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNDEL_TYPE.DESCR)
        </dd>

    </dl>
</div>
<p>
   
</p>
